
body{
    background-color: black;
}





/* NAVBAR */


.nav-bar{
    background-color: white;
}

.nav-h{
    color: white;
}

.nav-ul{
    display: flex;
}

.nav-li{
    text-decoration: none;
    list-style: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}


/* MOVIE CONTAINER */

.full-movies-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.movie-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
    border-radius: 5px;
    margin: 1rem;
    transition: all 0.2s;
}

.movie-container:hover{
    transform: scale(1.1);
}
.movie-title{
    font-size: 20px;
    color: white;
}

.movie-small-img{
    width: 15vw;
    height: 30vh;
    margin-bottom: 2rem;
}




/* HOME */


.home-container{
    display: flex;
    color: white;
}




/* MOVIE BY ID */


.movie-id-container{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content:space-around;
}

.right p{
    word-wrap: break-word;
    width: 450px;
}