<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <h1 class="nav-h">TheMovies</h1>
        <ul class="nav-ul">
            <li class="nav-li"><button class="log-in btn">Log In</button></li>
            <li class="nav-li"><button class="sign-up btn">Sign up</button></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>