<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li"><a class="nav-btn">Full Movies</a></li>
            <div class="nav-drop dropdown">
                <li class="nav-li">Genres</li>
                <div class="dropdown-content">
                    <li class="nav-li">A</li>
                    <li class="nav-li">B</li>
                    <li class="nav-li">C</li>
                </div>
            </div>
            <li class="nav-li"><a href="/fullmovies">See all Movies</a></li>
        </ul>
        <ul class="nav-ul">
            <li class="nav-li"><a href="/login">Log In</a></li>
            <li class="nav-li"><a href="/signup">Sign In</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>
</html>